<html>
    <body>
        <div class="card card-1">
            <p><%= @character.name %></p>
            <p><%= @character.age %></p>
            <div class="card-control">
                <%= link_to "Back", root_path, class: "button-back" %>
            </div>
        </div>
    </body>
</html>